modules:
- name: ModuleOne
  arguments:
  - name: infile
    value: exampleArgumentValue1
  - name: outfile
    value: exampleArgumentValue2
  - name: digit
    value:
- name: ModuleTwo
  arguments:
  - name: exampleArgumentName1
    value: exampleArgumentValue1
  - name: exampleArgumentName2
    value: exampleArgumentValue2
- name: ModuleThree
  arguments:
  - name: exampleArgumentName1
    value: exampleArgumentValue1
  - name: exampleArgumentName2
    value: exampleArgumentValue2
