modules:
- name: ModuleOne
  arguments:
  - name: infile
    value: in.txt
  - name: outfile
    value: out.txt
  - name: digit
    value: 5
- name: ModuleTwo
  arguments:
  - name: infile
    value: in.txt
  - name: outfile
    value: out2.txt
  - name: digit
    value: 5
- name: ModuleThree
  arguments:
  - name: infile
    value: in.txt
  - name: outfile
    value: out3.txt
  - name: digit
    value: 5
